@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* Common styles for all screen sizes */
* {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 34, 74);
    font-family: 'Courgette', cursive;
    color: aquamarine;
  }
  
  .Heading {
    font-size: 3rem;
    margin: auto;
    min-height: max-content;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next row on smaller screens */
    justify-content: center;
    gap: 20px; /* Increased gap for better spacing on smaller screens */
  }
  
  .dice {
    width: 250px;
    font-size: 2rem;
    font-weight: 900;
  }
  
  .--center {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  /* Media query for screens with a maximum width of 768px (typical mobile screens) */
  @media (max-width: 768px) {
    .container {
      gap: 10px; /* Reduce the gap for better spacing on smaller screens */
    }
  
    .dice {
      width: 100%; /* Make the dice take the full width on smaller screens */
    }
  }
  