@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(39, 34, 74);
    font-family: 'Courgette', cursive;
    color: aquamarine;
}

.Heading{
    font-size: 3rem;
    margin: auto;
    min-height: max-content;
}

.container{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.dice{
    width: 250px;
    font-size: 2rem;
    font-weight: 900;
}

.--center{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Media query for screens with a maximum width of 768px (typical mobile screens) */
@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  }